<h1> Register Tag Unique Identifier </h1><br></br>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only">Check Serial</label>
    <input type="text" class="form-control" name="tag-uuid" id="uuid-form" placeholder="Enter Tag Serial">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>