
<fieldset>

	
  <%= f.text_field :medication, placeholder: "Medication", class: 'form-control medication-field' %> 

  <%= f.text_field :dose, placeholder: "Dose", class: 'form-control dose-field' %> 
  
	<%= f.hidden_field :_destroy %>
  <%= link_to "<span class='glyphicon glyphicon-trash'></span> ".html_safe, '#', class: "remove_fields" %>

</fieldset>
