<!doctype html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="public/favicon.ico"/>
  <meta charset="utf-8" />
  <title>Home</title>
</head>
<body>
  <a href="http://jquery.com/">jQuery</a>
  <script src="jquery.js"></script>
  <script>
  window.onload = function() {

    <section id="summary" data-type="background" data-speed="10" class="pages">     
      <article>About the Tag</article>
      <h2>"Using this website keeps all your medical details in one secure place, where you can access it at any time.  The data tag is discreet and lightweight, but easily identifiable by a paramedic or emergency doctor if necessary.  In this way it is similar to medical ID tags currently in circulation, but more efficient than the ID tag and wallet card combination.  It also allows for far easier updating when a medication is altered, or a condition status changes - no need to get a new bracelet engraved or a new card printed; you can simply update your information online."</h2>
    </section>   

    <section id="patient" data-type="background" data-speed="10" class="pages">
      <article>Signing up as a Patient</article>
      <h2>"Signing up with a Patient profile gives you 24/7 instant access to your own medical information, as customised by you.  The site gives you the ability to add or remove illnesses, allergies, and any current medication in order to ensure the best possible care in case of emergency"</h2>
      <br>
        <button id="sign-up-patient">
          Sign up as Patient
        </button>
      <br>
    </section>

    <section id="gp" data-type="background" data-speed="10" class="pages">
      <article>Signing up as a GP</article>
      <h2>"Signing up as a General Practitioner allows doctors to track patients' illnesses and medication in a secure way, in particular facilitating tracking of medical records when a patient changes GP."</h2>
      <br>
        <button id="sign-up-gp">
          Sign up as GP
        </button>
      <br>
    </section>

    <section id="emergency" data-type="background" data-speed="10" class="pages">
      <article>Signing up as a Patient</article>
      <h2>"Signing up as Emergency healthcare professional gives you the ability to see a patient's most important medical information instantly in case of emergency.  This reduces risk of ADRs when administering emergency medications, and provides vital information about a patient's medical condition."</h2>
      <br>
        <button id="sign-up-emergency">
          Sign up as Emergency Healthcare Professional
        </button>
      <br>
    </section>
   
  }
  </script>
</body>
</html>