// Place all the styles related to the conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.condition-field {
	margin-right: 10px;
	margin-top: -10px;
	margin-bottom: 10px;	
}

.notes-field {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

