// Place all the styles related to the conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-inline {

	.condition-field {
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;	
	}

	.notes-field {
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.emergency-field {
		margin-left: 30px;
		margin-right: 30px;
	}
/*
	.checkboxFour {
	width: 40px;
	height: 40px;
	background: #ddd;
	margin: 20px 90px;

	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);

	input[type=checkbox] {
		visibility: hidden;
	}
	}

	.checkboxFour label {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 100px;

		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 1;

		background: #333;

		-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
		
	}

	.checkboxFour input[type=checkbox]:checked + label {
		background: #26ca28;
	}*/

}

