// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage {
	margin-top: 0;
}

.text {
	color: black;
	position: relative;
	width: 100%;
	height: 150px;
	background-color: white;
	background-opacity: 0.2;
	padding: 25px;
	margin-top: 125px;
	margin-bottom: 125px;
	display: inline-block;
	z-index: 200;
}

.image {
	background: url(http://i.imgur.com/RURrXvT.jpg);
	position: fixed; 
	width: 100%;
	height: 100%;
	z-index: 0;
}

section {

}