// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage {
	margin-top: 0;
}

.text {
	color: black;
	width: 100%;
	height: 200px;
	background-color: white;
	background-opacity: 25%;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: 0;
	padding: 50px;

}

.image {
	background: url(http://i.imgur.com/jFXwNqa.jpg);
	position: absolute; 
	width: 100%;
	height: 500px;
	padding: 10px;
	margin: 10px;
}

section {

}