// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#summary {
	position:fixed;
	background:url(http://i.imgur.com/WwVeYa1.png) top center no-repeat; 
	height:100%; 
	width:100%; 
	top:0; 
	left:0;
}
#patient {
	position:fixed;
	background:url(http://i.imgur.com/jFXwNqa.jpg);
	width:250px; 
	height:187px; 
	left:50%; 
	margin-left:-600px;
	margin-top:400px;
}
#gp {
	position:fixed;
	background:url(http://i.imgur.com/2Gg1ArO.jpg);
	width:300px;
	height:246px;
	left:50%;
	margin-left:400px;
	margin-top:500px;
}
#emergency {
	position:fixed;
	background:url(http://i.imgur.com/RURrXvT.jpg);
	width:300px;
	height:246px;
	left:50%;
	margin-left:400px;
	margin-top:500px;
}
