// Place all the styles related to the medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
	height: 33px;
	float: left;
	margin-right: 10px;
	margin-top: 10px !important;
	margin-bottom: 10px;
	margin-right: 25px !important;
	width: 350px;
	border-radius: 4px;
	border-color: #bababa;
	box-shadow: inset 1px 1px 1px 1px #dddddd;
}

.dose-field {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border-color: #bababa !important;
	box-shadow: inset 1px 1px 1px 1px #dddddd !important;
}

body {
  counter-reset: section;
}

#user_medications_attributes_0_medication:before {
  counter-increment: section;
  content: counter(section)" ";
}

