// Place all the styles related to the medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.medication-field {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dose-field {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
  counter-reset: section;
}

#user_medications_attributes_0_medication:before {
  counter-increment: section;
  content: counter(section)" ";
}