<footer class="footer">
  <small>
    <a href="/">Medicode Medical Data Device</a>
    &copy; Tyler Rollins, Richard Curteis, Rick Brunstedt, Michael Sidon, Manjit Singh and Hannah Wight 2014 
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/rickbrunstedt/meditag">Github Repo</a></li>
    </ul>
  </nav>
</footer>